@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
@import "./variables";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}
