@import "./variables";
@import "./typography";
@import "./utils";
@import "./reset";

body {
  background: #dcdcdc;
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  @extend .d-flex-center;
  h1 {
    font-size: 3rem;
  }
}
